body{
background-color:#fffffe;
}



.contenedor{
    margin: 50px;
    padding: 50px;
      background-color:#d0c7fc;
      border-radius: 40px;
          border: solid 3px #2b2c34;
box-shadow: 20px 20px 0px 0px rgba(179,179,179,1);
-webkit-box-shadow: 20px 20px 0px 0px rgba(179,179,179,1);
-moz-box-shadow: 20px 20px 0px 0px rgba(179,179,179,1);
}
