.contenedor{
    margin: 50px;
    padding: 50px;
    background-color: #f7f7f7;
box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.6);
-webkit-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.6);
    & p {
        font-weight: 500;
    }
}
