body{
background-color:#fffffe;
}



.contenedor {

    margin: 50px;
    padding: 50px;
    background-color: #d0c7fc;
    border-radius: 40px;
    border: solid 3px #2b2c34;
    box-shadow: 20px 20px 0px 0px rgba(179,179,179,1);
    -webkit-box-shadow: 20px 20px 0px 0px rgba(179,179,179,1);
    -moz-box-shadow: 20px 20px 0px 0px rgba(179,179,179,1);
    

}



@media (max-width: 767px) {
    .contenedor {
     
        margin: 20px 10px; 
        
       
        padding: 20px; 

        border-radius: 20px; 
        box-shadow: 10px 10px 0px 0px rgba(179,179,179,1);
    }
}